<%%= stylesheet_link_tag :cms_admin %>

<div id="cms-admin-wrapper">
  <div id="cms-admin-inner-wrapper">
    <div id="cms-admin-sidebar">
      Menu
    </div>
    <div id="cms-admin-main">
      <h1>Admin</h1>
    </div>
  </div>
</div>