<%%= stylesheet_link_tag :cms_admin %>

<!-- TODO: Move JS to NPM package. -->
<!-- TODO: Make Turbolinks aware to avoid double render and memory leaks. -->
<%%= content_for :cms_admin_javascript do %>
  <script>
    // alert("included!!");
  </script>
<%% end %>

<div id="cms-admin-wrapper">
  <div id="cms-admin-inner-wrapper">
    <div id="cms-admin-sidebar">
      <ul>
        <%% @cms_sections.each do |section| %>
          <li><%%= link_to section.generated_model_name, "admin/#{section.display_name}" %></li>
        <%% end %>
      </ul>
    </div>
    <div id="cms-admin-main">
      <h1>Admin</h1>
    </div>
  </div>
</div>