<h2>
  <%%= @display_name %>
</h2>

<div>
  <div class="section-action_items">
    <%%= link_to action: 'new' do %>
      New
    <%% end %>
  </div>

  <div id="section-list">
    <%%= render partial: 'list' %>
  </div>
</div>