<% for page in @pages %>
	<div class="module_item well">
		<div class="item_name">
			<h5><%= page.name %> Posts</h5>
		</div>
		<div class="module_item_actions">
			<p>
				<%= link_to(url_for(:controller => 'admin/posts', :action => 'new', :page_id => page.id)) do %>
					Add Post <span class="glyphicon glyphicon-plus"></span>
				<% end %>
			</p>
		</div>
	</div>

	<!-- remove to controller or model -->
	<% @posts = page.posts.order('position ASC').limit(10) %>
	<%= render :partial => 'admin/modules/posts', :object => @posts %>

	<% unless @posts.count < 10 %>
		<div class="text-right">
			<%= link_to "/admin/pages/#{page.id}/posts" do %>
				<button type="button" class="btn btn-primary btn-xs see_all">See All</button>
			<% end %>
		</div>
	<% end %>
<% end %>